 <p-dataView #dv [value]="link" filterBy="query"  styleClass="borderless" [paginator]="true" paginatorPosition="both" [rows]="10" [first]="kam" (onPage)="lok($event)">
        <p-header>
                <div class="ui-helper-clearfix">
                 
                    <div class="ui-g">
                       
                        <div class="ui-g-12 filter-container" style="position:relative"><div class="ui-g-2"><img src="{{path}}assets/images/interpret.png" height="40px" width="180px"/></div>
                            <div class="ui-g-8">
                           <div class="pi pi-search searchbox ui-g-8"> <input class="inputsearchbox" type="search" [(ngModel)]="nameinput" pInputText placeholder="Search.." (keydown.enter)="updateSearch($event)"></div>
                        </div>
                        <div class="ui-g-2"><img src="{{path}}assets/images/smart.png" height="50px" width="170px"/></div>
                        </div>
                    
                        
                </div>
                </div>
             <!--   <div *ngIf="show"><span class="hiddentext">Did you Mean:</span><span class="hiddenoutput">{{nameinput}}</span></div>-->
            </p-header>
            
    <ng-template let-x pTemplate="listItem" >
       <div class="datatable">
                    <p  class="text"><a href="{{x._source.url}}" target="_blank">{{x._source.file.filename | slice: 0:-4}}</a></p>
                    <br/>
                    <div class="ui-g-3"><span class="score">Score:</span><span class="scoreinfo">{{x._score}}</span></div> <div class="ui-g-9" ><p class="info"  [innerHTML]="x.highlight.content"></p></div><hr>
                </div>
            
                
   </ng-template>

   </p-dataView>


